:host {
    --green: #64ffda;
    --button-padding: 12px 24px;
    --font-mono: 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono', monospace;
    --fz-md: 26px;
    --fz-xl: 32px;
    --fz-heading: 32px;
    --font-sans: 'Calibre', 'Inter', 'San Francisco', 'SF Pro Text', -apple-system, system-ui, sans-serif;
    --lightest-navy: #233554;
    --light-navy: #112240;
    --slate: #8892b0;
    --navy: #0a192f;
    --lightest-slate : #ccd6f6;
    --light-slate : #a8b2d1;

}

.outer-container {
    min-height: 100vh;
}

.header {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    position: fixed;
    top: 0px;
    z-index: 11;
    padding: 0px 50px;
    width: 100%;
    /* height: var(--nav-height); */
    background-color: rgba(10, 25, 47, 0.85);
    backdrop-filter: blur(10px);
    /* transition: var(--transition); */
    filter: none !important;
    pointer-events: auto !important;
    user-select: auto !important;
    animation: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);

}

.nav {
    height: 100px;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    width: 100%;
    /* color: var(--lightest-slate); */
    font-family: var(--font-mono);
    counter-reset: item 0;
    z-index: 12;

}

.logo {
    width: 3.5rem;
}

.main-tabs {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    counter-reset: list-counter;
    /* Initialize the counter */
    list-style: none;
    /* Remove default numbering */
    padding-left: 0;
}

ol.main-tabs>li {
    font-family: 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono', monospace;
    margin: 0px 5px;
    font-size: 1em;
    margin-left: 2rem;
    position: relative;

    counter-increment: list-counter;
    /* Increment counter for each li */
    padding-left: 20px;
    /* Space for custom number */
    opacity: 0;
    transform: translateY(-50px);
    animation: dropDown 0.8s ease-out forwards;
}



@keyframes dropDown {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

ol li:nth-child(1) {
    animation-delay: 0.1s;
}

ol li:nth-child(2) {
    animation-delay: 0.3s;
}

ol li:nth-child(3) {
    animation-delay: 0.5s;
}

ol li:nth-child(4) {
    animation-delay: 0.7s;
}

.main-tabs li::before {
    content: "0"counter(list-counter) ". ";
    /* Display custom number */
    position: absolute;
    left: 0;
    font-weight: bold;
    margin-right: 5px;
    color: var(--green);
    /* font-size: 12px; */
    text-align: right;
}

a {
    /* opacity: 0.01; */
    /* transform: translateY(-20px); */
    /* transition: opacity 300ms cubic-bezier(0.645, 0.045, 0.355, 1), transform 300ms cubic-bezier(0.645, 0.045, 0.355, 1); */
    /* animation: all 0.25s cubic-bezier(0.645,0.045,0.355,1); */
    padding-left: 0.3rem;
    /* display: inline-block; */
    text-decoration: none;
    text-decoration-skip-ink: auto;
    color: #ccd6f6;
    position: relative;
}

a:hover {
    color: var(--green);
}

.main-tabs ol li a {
    padding: 10px;
}

.name-hi h1 {
    /* margin: 0px 0px 30px 4px; */
    color: var(--green);
    font-family: 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono', monospace !important;
    font-size: 1.3em;
    font-weight: 400;
}

.my-name {
    font-size: 45px;
    font-weight: 600;
}

.my-name h2 {
    color: #ccd6f6;
}

.my-name h2:nth-of-type(2) {
    color: #8892b0;
    font-size: 57px;
    /* or any style you want */
}

.highlight-text {
    color: var(--green);
}

.caption-narrative {
    color: #8892b0;
    font-family: 'Calibre', 'Inter', 'San Francisco', 'SF Pro Text', -apple-system, system-ui, sans-serif;
    font-size: 1.3em;
    max-width: 46%;
    font-weight: 400;
}

section {
    width: 100%;
    display: -webkit-inline-box;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    flex-direction: column;
    align-items: flex-start;
    min-height: 100vh;
    height: 100vh;
    padding: 0px;



}



.left-bar {
    width: 10%;
    width: 40px;
    position: fixed;
    bottom: 0px;
    left: 40px;
    right: auto;
    z-index: 10;
}

.left-bar>ul {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.left-bar>ul::after {
    content: "";
    display: block;
    width: 1px;
    height: 90px;
    margin: 0px auto;
    background-color: #a8b2d1;
    opacity: 0;
    transform: translateY(200px);
    animation: sliderUpLine 1.2s ease-out forwards;
}

@keyframes sliderUpLine {
    to {
        opacity: 1;
        transform: translateY(0);
    }

}

.right-bar>a::after {
    content: "";
    display: block;
    width: 1px;
    height: 90px;
    margin: 0px auto;
    background-color: #a8b2d1;
    margin-top: 1.5em !important;
    opacity: 0;
    transform: translateY(200px);
    animation: sliderUpLine 1.2s ease-out forwards;

}

.right-bar>a:hover {
    transform: scale(1.1);
    color: var(--green);

}

.left-bar>ul>li>svg {
    height: 3em !important;
}

.left-bar>ul>li {
    opacity: 0;
    transform: translateX(-50px);
    animation: slideInSocials 1.2s ease-out forwards;
    margin-bottom: 1.5em;
}

@keyframes slideInSocials {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.left-bar>ul>li:nth-child(1) {
    animation-delay: 0.1s;
}

.left-bar>ul>li:nth-child(2) {
    animation-delay: 0.5s;
}

.left-bar>ul>li:nth-child(3) {
    animation-delay: 1s;
}

.social-links {
    transition: transform 1s ease;
}


.social-links>svg:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.svg-fill:hover {
    fill: var(--green) !important;
}

.main-body {
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.8s ease-in-out;
    animation: visibleMainBodyDiv 0.8s ease-in-out forwards;
    width: 80%;
    margin-left: 10%;
}

@keyframes visibleMainBodyDiv {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
/* .main-body.visible {
    opacity: 1;
    transform: translateY(0);
  } */

.main-body .box {
    opacity: 0;
    transform: translateY(30px);
    animation: fadeInTop 3s ease-out forwards;
}

.about-main-div {
    animation-timeline: view();
    /* View-based trigger */
    animation-range: entry 0% cover 30%;
}

.main-body .box:nth-child(1) {
    animation-delay: 0s;
}

.main-body .box:nth-child(2) {
    animation-delay: 0.5s;
}

.main-body .box:nth-child(3) {
    animation-delay: 1s;
}


@keyframes fadeInTop {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.right-bar {
    width: 40px;
    position: fixed;
    bottom: 0px;
    right: 40px !important;
    z-index: 10;

}

.right-bar>a {
    /* margin-bottom: 1.5em; */
    display: flex;
    font-family: var(--font-mono);
    font-size: var(--fz-xxs);
    line-height: var(--fz-lg);
    letter-spacing: 0.1em;
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
    color: #a8b2d1;
}

.secion-heading {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    margin: 10px 0px 40px;
    width: 100%;
    font-size: clamp(26px, 5vw, var(--fz-heading));
    white-space: nowrap;
}

.secion-heading::before {
    
    margin-right: 10px;
    color: var(--green);
    font-family: var(--font-mono);
    font-size: clamp(var(--fz-md), 3vw, var(--fz-xl));
    font-weight: 400;
}

.about-section-number::before{
    content: "01" ".";
}
.exp-section-number::before{
content: "02" ".";
}

.secion-heading::after {
    content: "";
    display: block;
    /* position: relative; */
    top: -5px;
    width: 300px;
    height: 1px;
    margin-left: 20px;
    background-color: var(--lightest-navy);
}

.about-me-details {
    display: flex;
    gap: 20px;
    color: var(--slate);
    font-family: var(--font-sans);
    font-size: 1.2em;
    line-height: 1.3;
}

.about-me-details>div>p {
    margin-bottom: 16px;
}


.my-photo-div {
    max-width: 55%;

}

/* .my-photo-div>img{
	max-width: 55%;
} */

.my-photo-div {
    /* box-shadow: 0 10px 30px -15px rgba(2,12,27,0.7); */
    /* transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1); */
    display: block;
    position: relative;
    width: 100%;
    max-width: 55%;

}


.photo-wrapper {
    border-radius: 4px;
    background-color: var(--green);
    width: 70%;
    position: relative;
}

.photo-wrapper::after {
    border: 2px solid #64ffda;
    top: 10px;
    left: 10px;
    z-index: -1;
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    /* transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1); */
    transition: transform 1s ease, mix-blend-mode 1s ease;

}

.photo-wrapper>img {
    mix-blend-mode: multiply;
    border-radius: 4px;
    transition: transform 1s ease, mix-blend-mode 1s ease;

}

.photo-wrapper>img:hover {
    mix-blend-mode: normal;
    transform: translate(-5px, -5px);
}

.photo-wrapper:hover::after {
    mix-blend-mode: normal;
    transform: translate(5px, 5px);
}

.photo-wrapper:hover {
    mix-blend-mode: normal;
    transform: translate(-5px, -5px);
    background-color: var(--navy);
}

/* .my-photo-div::before{
	top: 0px;
    left: 0px;
    background-color: var(--navy);
    mix-blend-mode: screen;
	
} */

.about-skills {
    display: grid;
    grid-template-columns: repeat(2, minmax(140px, 200px));
    gap: 0px 4em;
    padding: 0px;
    margin: 20px 0px 0px;
    overflow: hidden;
    list-style: none;
}

.about-skills>li {
    position: relative;
    margin-bottom: 10px;
    padding-left: 20px;
    font-family: var(--font-mono);
    font-size: 0.9em;
    transition: color 0.3s ease;
}

.about-skills>li::before {
    content: "▹";
    position: absolute;
    left: 0px;
    color: var(--green);
    font-size: var(--fz-sm);
    line-height: 12px;
}

.typewriter-letter {
    /* display: inline-block;
  opacity: 0;
  transform: translateY(5px); */
    animation: typeIn 0.4s ease forwards;
}

@keyframes typeIn {
    to {
        opacity: 1;
        transform: translateY(0);
        color: #3498db;
        /* Change to your desired hover color */
    }
}

.skills-li {}


.exp-main-outer {
    display: flex;
    position: relative;
}

.job-tabs {}

.job-description-info {
    font-size: 1.3em;
    font-weight: 500;
    /* line-height: 1.3; */
    color: var(--lightest-slate);
    font-family: var(--font-sans);
    padding: 0.5em 2em;
    opacity: 0;
    animation-delay: 10s;
    animation: jobDescFade 2s ease-out forwards;
}

@keyframes jobDescFade {
    to {
        opacity: 1;
    }
}

.job-description-info>h3>span{
    color: var(--green);
}


.job-div {
    text-decoration: none;
    text-decoration-skip-ink: auto;
    position: relative;
    /* transition: var(--transition); */
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    /* height: var(--tab-height); */
    padding: 0px 20px 2px;
    border-left: 2px solid var(--lightest-navy) !important;
    background-color: transparent;
    /* color: var(--green); */
    font-family: var(--font-mono);
    font-size: 1em;
    text-align: left;
    white-space: nowrap;
    cursor: pointer;
    border: 0px;
    border-radius: 0px;
    padding: 0.8em 0.8em;
}

.job-div:hover {
    background-color: var(--light-navy);
    color: var(--green) !important;
    /* border-left: 2px solid var(--green) !important; */

}

.selected-job {
    background-color: var(--light-navy);
    border-left: 2px solid var(--green) !important;
    color: var(--green) !important;
}



.active-border {
    color: var(--green) !important;
    position: absolute;
    left: 0;
    width: 2px;
    height: 0;
    background-color: var(--green) !important;
    transition: top 0.4s ease, height 0.4s ease;
    /* border-radius: 3px; */
    z-index: 999 !important;
}

.job-period{
    margin-bottom: 25px;
    color: var(--light-slate);
    font-family: var(--font-mono);
    font-size: 1em;
}


.job-details-desciption{
    margin-bottom: 20px;
    padding-left: 2em;
    font-family: var(--font-sans);
    font-size: 0.9em;
    color: var(--slate);
}

.job-details-desciption::before{
    content: "▹";
    position: absolute;
    color: var(--green);
    left: 0;    
}


.job-description-info>ul{
    position: relative;
    margin-top: 0.5em;
    width: 70%;
}